/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;           /* CG: pour cohérence Figma */
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Ajouts Christian Georgeot */

:root {
    --second-bg-color: #D9D9D9;
}

.black-icon {
    color: black;
}

.euro {
    font-weight: 600;
}

.head-subtitle {
    margin: 0;
}

/*  Uncomment: ToDo before final testing
.main-container {
    min-width: 1024px;           
}
*/

.list-title {
    margin: 0;
    font-size: 1.125em;
    font-weight: 700;
}

/****** header *****************/

.header-logo-navbar {
    display: flex;
    justify-content: space-between;
    height: 79px;
}

.header-logo img {
    height: 19px;
    padding: 30px 0;
}

.header-navbar {
    display: flex;
    gap: 68px;
}

.header-navbar a {
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-sizing: border-box;
    
    color: black;
    text-decoration: none;
}

.header-navbar a:hover {
    border-top: 2px solid  var(--main-color);
    color: var(--main-color);
}

/****** Recherche **************/

/*----- Head ------------------*/

.search-head {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 30px;
}

/*----- City ------------------*/

.search-form {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.location-icon {
    width: 50px;
    height: 49px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
  }
  
.city-field {
    height: 49px;
    padding: 0 24px;  
    font-size: 1.125rem;
    font-weight: 700;
    border-left: none;
    border-right: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    box-sizing: border-box;
    border-color: var(--main-bg-color);
    background-color: white;
}

.search-button {
    height: 49px;
    padding: 0 16px;
    font-size: 1.125rem;
    font-weight: 700;
    border: none;
    border-radius: 0 15px 15px 0;
    color: white;
    background-color: var(--main-color);
}

/*----- Filter ----------------*/

.search-filter {
    display: flex;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
    margin-top: 35px;
}

.filter-button {
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 19px;
    border-radius: 25px;
    border: 2px solid  var(--second-bg-color);
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
}

.button-label {
    font-size: 1.0625em;
    font-weight: 700;
    white-space: nowrap;
}

/*----- Info ------------------*/

.search-infobar {
    height: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 35px;
}

.search-infobar .fa-circle {
    color: var(--second-bg-color);
}

/****** Hebergements ***********/

.hebergements-and-populaires {
    margin-top: 35px;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*gap: 30px;*/
}

.hebergements-cards .card {
    flex: 0 1 30%; 
    height: 192px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.hebergements-cards img {
    width: 100%;
    height: 110px; 
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    height: 100%;
    margin: 0 15px 0 15px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin: 4px 0 0 0;
}

.hebergements-cards .card-subtitle {
    margin: 8px 0 0 0;
}

.hebergements-cards .card-rating {
    margin: 0 0 2px 0;
}

.hebergements-all {
    margin-top: 30px;
}

.hebergements-all-button {
    color: black;
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: none;
}

/****** Activités **************/

.activites {
    margin-top: 35px;
    padding: 30px;
}

.activites-cards {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.activites-cards .card {
    padding: 0;
}

.activites-cards img {
    width: 297.5px;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites-cards .title {
    margin: 20px 0;
    padding: 0 19px;
}

/****** Footer *****************/

.footer-columns {
    display: flex;
    background-color: var(--main-bg-color);
    margin-top: 35px;
}

.column-list {
    flex: 1;
    padding: 20px;
}

.column-list ul {
    padding: 0;
    list-style-type: none;
}

.column-list li {
    margin-top: 15px;
}

.column-list a {
    color: black;
    text-decoration: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}
