/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;
  --second-bg-color: #D9D9D9; /* CG: added according Figma */
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  min-width: 1025px; /* CG: added minimum width */
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 600; /* CG: modified from 700 to 600 */
}

.neutral-star {
  color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 30px; /* CG: modified from 33px to 30px */
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Ajouts Christian Georgeot */

/****** General ****************/

/* Modified in original source code

:root {
  --second-bg-color: #D9D9D9;
}

.main-container {
  min-width: 1025px;
}

.hebergements .euro {
  font-weight: 600;
}

.populaires-cards .card {
  margin-top: 30px; 
}
*/

.navigation-bar a,
.clickable-card a,
.showmore-button a,
.button-list a {
  color: black;
  text-decoration: none;
}

.list-title {
  margin: 0;
  font-size: 1.125em;
  font-weight: 700;
}

/****** header *****************/

.header-navigation {
  height: 79px;
  display: flex;
  justify-content: space-between;
}

.header-navigation img {
  margin-top: 30px;
  height: 19px;
}

.navigation-bar {
  height: 35px;
  display: flex;
  gap: 68px;
}

.navigation-bar a {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.navigation-bar a:hover {
  color: var(--main-color);
  border-top: 2px solid  var(--main-color);
}

/****** search *****************/

/*----- head ------------------*/

.search-city .headline {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.headline .subtitle {
  margin: 0;
  font-size: 1em;
}

/*----- City ------------------*/

.search-city .searchbar {
  margin-top: 35px;
  height: 49px;
  display: flex;
  align-items: center;
}

.searchbar .icon {
  padding: 15px 18px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  border-radius: 15px 0 0 15px;
}

.searchbar .icon i {
  color: black;
}

.searchbar .field,
.searchbar .button {
  height: 100%;
  font-size: 1.125rem;
  font-weight: 700;
}

.searchbar .field {
  padding: 0 24px;  
  background-color: white;
  border-top: 1px solid var(--main-bg-color);
  border-right: none;
  border-bottom: 1px solid var(--main-bg-color);
  border-left: none;
}

.searchbar .button {
  padding: 0 16px;
  color: white;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0 15px 15px 0;
  box-sizing: content-box;
}

/*----- Filter ----------------*/

.search-city .filterbar {
  margin-top: 35px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.filterbar .button {
  height: 100%;
  padding: 0 19px;
  font-size: 1.0625em;
  font-weight: 700;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid  var(--second-bg-color);
  border-radius: 25px;
  box-sizing: border-box;
}

.filterbar .button:hover {
  background-color: var(--filter-bg-color);
}

/*----- Info ------------------*/

.search-city .infobar {
  margin-top: 35px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.infobar .fa-circle {
  color: var(--second-bg-color);
}

/****** Hebergements ***********/

/*----- Update ----------------*/

.hebergements-and-populaires {
  margin-top: 35px;
}

/*----- Cards -----------------*/

.hebergements-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hebergements-cards .card {
  width: 30%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 30px;
}

.hebergements-cards img {
  width: 100%;
  height: 114px; /* Card sizing control */ 
  border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 4px;
  margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
  font-size: 0.875em;
  font-weight: 400;
}

.hebergements-cards .card-rating {
  margin-top: 8px;
  margin-bottom: 5px;
}

/*----- More ------------------*/

.showmore-button {
  margin-top: 30px;
}

.showmore-button a {
  font-size: 1.125em;
  font-weight: 700;
}

/****** Activités **************/

.activites {
  margin-top: 35px;
  padding: 30px;
  box-sizing: border-box;
}

.activites-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.activites-cards .card {
  margin-top: 30px;
  padding: 0;
}

.activites-cards img {
  width: 100%;
  height: 380px; /* Card sizing control */
  border-radius: 20px 20px 0 0;     
}

.activites-cards .card-title {
  margin: 0;
  padding: 20px 19px;
}

/****** Footer *****************/

.footer-links {
  margin-top: 35px;
  display: flex;
  background-color: var(--main-bg-color);
}

.footer-links .helper-theme {
  flex: 1;
  margin: 20px;
}

.footer-links .helper-theme ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.footer-links .helper-theme li {
  margin-top: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }
  
  .hebergements {
    width: 100%;
  }
  
  .populaires {
    width: 100%;
    margin-top: 50px;
  }
  
  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .populaires-cards .card {
    width: 30%;
  }
  
  .populaires-cards .card-title {
    font-size: 14px;
  }
  
  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
